api:
  dashboard: true
  debug: false

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-public
  file:
    directory: /config
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: ${ACME_EMAIL}
      storage: acme.json
      keyType: EC256
      dnsChallenge:
        provider: cloudflare
        # Disable the creation of ACME challenge records in Cloudflare. This is useful if you are using a CNAME record for your domain.
        # disablePropagationCheck: true
        # Delay before checking DNS propagation. Useful for slow DNS providers.
        # delayBeforeCheck: 0

  letsencrypt_http:
    acme:
      email: ${ACME_EMAIL}
      storage: acme.json
      httpChallenge:
        entryPoint: http
